.charts-container {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.chart {
	flex: 1;
}

.chart div {
	display: flex;
	justify-content: center;
}

.chart-tooltip {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 24px;
	background-color: #00000085;
	border-radius: 16px;
}

iframe {
	border: solid black 1px;
}

.jumbotron {
	padding-top: 1em;
	height: 99vh;
}

.jumbotron h1 {
	font-size: 60px;
	white-space: nowrap;
}

.jumbotron h2 {
	font-size: 30px;
	font-weight: lighter;
	color: #ccc;
	white-space: nowrap;
}

.jumbotron .word-cloud {
	padding-top: 2em;
	text-align: center;
	overflow: hidden;
	max-height: 100%;
}
