.button {
	font-size: 14px;
	font-weight: 500;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: block;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	margin: 0;
	min-width: 64px;
	line-height: 36px;
	padding: 0 16px;
	border-radius: 4px;
	overflow: visible;
	color: #fff;
	background: transparent;
}

.button-primary {
	background-color: #3f51b5;
}

.react-ripples {
	display: block !important;
}
