.captioned-image {
	position: relative;
	overflow: hidden;
}

.captioned-image .captioned-image-caption {
	position: absolute;
	text-align: center;
	color: #eceff1;
	background-color: #424242dd;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0;
	padding: 0;
	height: 0;
	padding-top: 1em;
	pointer-events: none;

	opacity: 0;

	transition: all 0.5s cubic-bezier(.46,.03,.52,.96);

	strong {
		font-weight: bold;
		font-size: larger;
	}

	p {
		font-weight: normal;
		font-size: medium;
	}
}

.captioned-image:hover .captioned-image-caption,
.captioned-image:active .captioned-image-caption {
	opacity: 1;
	display: block;
	height: 33%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.captioned-image:hover .captioned-image-caption a,
.captioned-image:active .captioned-image-caption a {
	pointer-events: initial;
}
