.card {
	background: #424242;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	display: block;
	position: relative;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
		0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card-header {
	display: flex;
	flex-direction: row;
}

.card-avatar {
	border-radius: 50%;
	flex-shrink: 0;
	object-fit: cover;
	width: 50px;
	height: 50px;
}

.card-header-text {
	margin: 0 16px;
}

.card-title {
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 500;
	display: block;
}

.card-subtitle {
	margin-top: -8px;
	margin-bottom: 16px;
	display: block;
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.7);
}

.card-center {
	justify-content: center;
	display: flex;
	margin-top: 8px;
	margin-bottom: 8px;
}

.card-center img {
	max-width: 100%;
	max-height: 100%;
}
