.divider {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: hsla(0, 0%, 100%, 0.12);
}

.divider.divider-large {
	margin-top: 40px;
	margin-bottom: 40px;
}
