.feature-icon {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	padding: 5px;
	background-repeat: no-repeat;
	display: inline-block;
}

.feature-item {
	display: table;
	text-align: left;
}
@media (max-width: 650px) {
	.feature-item {
		padding-bottom: 24px;
		padding-top: 24px;
	}
}

.feature-title {
	position: relative;
	display: block;
	color: #eceff1; /* need to respecify color here to avoid link colors when in anchor */
}

.feature-desc {
	position: relative;
	display: block;
	font-size: 12px;
	font-weight: 100;
	color: rgb(209, 209, 209);
}

.feature-header {
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	width: 50px;
	color: #eceff1;
}
