.iframe-consent {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 1px;
}

.iframe-consent h4 {
	font-size: large;
}

.iframe-consent div {
	display: flex;
	flex-direction: row;
}

.iframe-consent button {
	margin: 0 0.5em;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}

.iframe-consent button.iframe-consent {
	background-color: #3f51b5;
}

.iframe-consent button.iframe-open {
	background-color: #636e72;
}
