.list {
	padding-top: 8px;
	display: block;
}

.list-item {
	min-height: 56px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
/* padding: 0 16px; */
	position: relative;
	font-size: 16px;
}

.list-item-action:hover {
	background: hsla(0, 0%, 100%, 0.04);
}
