.tooltip {
	/* display: none; */
	background-color: #191919;
	position: absolute;
	font-weight: normal;
	padding: 2px 5px;
	font-size: medium;
	border-radius: 6px;
	filter: drop-shadow(0px 3px 5px black);
	opacity: 0;

	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	top: 1em;

	pointer-events: none;

	/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tooltip.tooltip-visible {
	display: flex !important;

	opacity: 1;
	top: -1em;
}
