.word-cloud {
	display: flex;
	flex-wrap: wrap;
}

.word-cloud span {
	flex: auto;
	flex-basis: content;
	font-weight: bold;
	font-size: xx-large;
	padding: 32px 16px;
	color: #aaa;
	opacity: 0;

	animation-name: opacity-blink;
	animation-duration: 5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.77,0,.18,1);
}

@keyframes opacity-blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
