.toolbar-header {
	height: 64px;
	background: #3f51b5;
	color: #fff;
	display: flex;
	box-sizing: border-box;
	padding: 0 16px;
	width: 100%;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.content {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

@media (max-width: 650px) {
	.content {
		margin: 16px;
	}
}

footer {
	display: table;
	text-align: center;
	width: 100%;
}

.foot-elm {
	position: relative;
	width: 33.33333%;
	display: table-cell;
}

@media (max-width: 650px) {
	.foot-elm {
		width: 100%;
		display: block;
	}
}
