@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(fonts/Manrope-VariableFont_wght.ttf) format("truetype");
}

@font-face {
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(fonts/SourceCodePro-SemiBold.ttf) format("truetype");
}

body {
	height: 100%;
	margin: 0;
	background-color: #303030;
	color: #eceff1;
	background-image: url(background.webp);
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50%;
	font: 400 14px/20px Manrope, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: 20px;
	line-height: 32px;
	margin: 0;
}

a {
	color: #fff;
}
